<div class="wrapper">
    <div ng-controller="TodoController as tdCtrl">
        <h1>Title: {{tdCtrl.titleName}}</h1>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#main">Main</a></li>
            <li><a href="#page1">Page 1</a></li>
            <li><a href="#page2">Page 2</a></li>
        </ul>
        <br>
        <br>
        <div>
            <input type="text" ng-model="tdCtrl.listName" />
            <button ng-click="tdCtrl.addToList()">Add</button>
            <p ng-repeat="item in tdCtrl.items track by $index"> {{item}}</p>
        </div>
        <div ng-if="tdCtrl.isShowDiv"> div1</div>
        <button ng-click="tdCtrl.isShowDiv=true"> show </button>
        <button ng-click="tdCtrl.isShowDiv=false"> hide </button>
    </div>
    <div ng-controller="TableController">
        <button ng-click="createTable()">Table</button>
        <br>
        <br>
        <br>
        <table  class="table table-bordered" align="center">
            <tr ng-repeat="x in data">
                <td>{{x.name}}</td>
                <td>{{x.country}}</td>
            </tr>
        </table>
    </div>
</div>
